<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="toUpperBean" class="processor.PreProcessorToUpperImpl"/>

    <bean id="renderBean" class="renderer.RendererErrImpl">
        <constructor-arg name="preProcessor" ref="toUpperBean"/>
    </bean>

    <bean id="printerWithPrefix" class="printer.PrinterWithPrefixImpl">
        <constructor-arg ref="renderBean"/>
        <property name="prefix" value="PREFIX "/>
    </bean>


</beans>